@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;700&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #ffff;
    font-family: 'Barlow Condensed';

}

.app {
    background-color: #0B0D17;
    padding: 64px 165px;
}

.display-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.navbar .nav-text {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 4.05px;
    color: #D0D6F9;
}

.color-heading {
    margin-bottom: 48px;
}

.color-heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.color-heading span {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 28px;
}

.colors-divs>.display-flex {
    justify-content: space-between;
}


.bx {
    width: 300px;
    height: 116px;
    position: relative;
    margin-bottom: 16px;
}

.bx>h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    top: 64px;
    left: 23.5px;

}

.box1 {
    border: 1px solid #616476;
}

.box2 {
    background-color: #D0D6F9;
}

.box2 h1 {
    color: #000;
}

.box3 {
    background-color: #FFFFFF;
    color: black;
}

.rgb-details>p {
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
}

.typo {
    margin-top: 148px;
    margin-bottom: 48px;
}

.planets {
    justify-content: space-between;
}

.planets .plan-1 {
    margin-right: 40px;
}

.planets .plan-1>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.planets .plan-1>h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 8px;
}

.planets .plan-1>h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 8px;
}

.planets .plan-1>h3 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 8px;
}

.planets .plan-1>h4 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 48px;
}

.end-p {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
    margin-top: 8px;
}

.plan-2 {
    width: 540px;
}

.plan-2 h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 40px;
}

.plan-2 .p2-headings {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin-bottom: 8px;
}

.body-text {
    margin-top: 40px;
    margin-bottom: 8px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.body-text-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: justify;
    text-justify: inter-word;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
}

.topnav a {
    /* display: block; */
    height: 100%;
    color: #f2f2f2;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #FFFF;
    opacity: 0.5;
}

.topnav a.active {
    border-bottom: 3px solid #FFFF;
}

.xyz {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.xyz-heading {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.ending-div {
    justify-content: space-between;

}

.circles {
    margin-top: 75px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    width: 274px;
    height: 274px;
    background-color: #FFFF;
    border-radius: 50%;
    position: relative;
    margin-bottom: 13px;
}

.circle1>.exp {
    position: absolute;
    left: calc(50% - (103px/2));
    top: calc(50% - (37px/2));
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
}

.circle2 {
    width: 450px;
    height: 450px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 13px;
}


.hover-effect .stars>p {
    display: flex;
    justify-content: center;
}

.stars {
    width: 283px;
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars>.moons {
    display: flex;
    justify-content: space-between;
    width: 208px;
    height: 34px;
    margin-bottom: 24px;
}

.tabsH {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.dots {
    width: 93px;
    margin-top: 162px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.dots .small-circles {
    width: 15px;
    height: 15px;
    background: #FFFF;
    border-radius: 50%;
}

.dots .s2 {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.dots .s3 {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.big-dots {
    margin-top: 121px;
    margin-bottom: calc(32px - 25px);
}

.big-dots .big-circles {
    background: #FFFF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: #0B0D17;
    margin-bottom: 32px;
}

.big-circles:nth-child(2) {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.big-circles:nth-child(3) {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);

}

.footer {
    margin-top: -100px;
    background: #0B0D17;
    width: 100%;
    height: 579px;  
    overflow: hidden; 
}

@media only screen and (max-width: 768px) {
    .display-flex  {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 768px) {
    .topnav  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 768px) {
    .footer  {
        overflow: hidden;
    }
  }